<h1 class="dialog-title">Edit {{data.firstName}} Details </h1>

<mat-divider></mat-divider>

<div mat-dialog-content>
  <h1 class="dialog-content-title" >User Details</h1>
  <mat-form-field class="update-form-field">
    <input matInput [(ngModel)]="data.firstName" placeholder="First name">
  </mat-form-field>
  <mat-form-field class="update-form-field">
    <input matInput [(ngModel)]="data.lastName" placeholder="Last name">
  </mat-form-field>
  <mat-form-field class="update-form-field">
    <input matInput  [(ngModel)]="data.phoneNumber" placeholder="Phone Number">
  </mat-form-field>
  <mat-form-field class="update-form-field">
    <input matInput [(ngModel)]="data.birthDate"  [matDatepicker]="picker" placeholder="Birth Date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>

<mat-divider></mat-divider>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" class="cancel-button">Cancel</button>
  <button mat-button (click)="onYesClick()" cdkFocusInitial class="update-button">Update Account</button>
</div>

