<h1 mat-dialog-title>Hi</h1>
<div mat-dialog-content>

  <mat-form-field>
    <input matInput [(ngModel)]="data.firstName" placeholder="First name">
    <input matInput [(ngModel)]="data.lastName" placeholder="Last name">
    <input matInput [(ngModel)]="data.birthDate" placeholder="Birth date">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="onYesClick()" cdkFocusInitial>Update Account</button>
</div>

