.mat-tab-label{
  min-width:40px !important;
}

/deep/.mat-tab-label, /deep/.mat-tab-label-active{
 min-width: 0!important;
 padding: 3px!important;
 margin: 3px!important;
 font-size: 20px;
}

.country-list{
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  flex: 1;
}
.country-item{
   background: #f1f2f2;
   color: #000000;
   padding: 5px;
   margin: 2px;
   font-weight: 200;
   font-size: 12px;
}

.country-item.active{
   background: #000000;
   color: #ffffff;
   padding: 5px;
   margin: 2px;
}

.selected-countries{
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  flex: 1;
}

.selected-country-item{
  color: #FF0000;
  padding: 5px;
  margin: 2px;
  font-size: 12px;
  font-weight: 200;
}

.selected-country-item img{
  width: 12px;
}

/deep/.mat-tab-label-active{
  color: #FF0000;
}
